<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement" search:require="solr">
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes hint="list:AddIndex">

					<!-- Setting #1: Index ID -->
					<index id="sitecore_custom_master_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">

						<!-- Setting #2: Param Descriptions -->
						<param desc="name">$(id)</param>
						<param desc="core">xp0-_custom_index</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />

						<!-- Setting #3: Configuration Ref-->
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

								<!-- Setting #4: Index All Fields-->
								<indexAllFields>false</indexAllFields>

								<!-- Setting #5: Included Fields-->
								<!-- Included fields -->
								<include hint="list:AddIncludedField">
									<PageTitle>{7822598C-AEA3-4040-890A-6B30E14654DD}</PageTitle>
								</include>

								<!-- Setting #6: Included templates-->
								<!-- Included templates
                <include hint="list:AddIncludedTemplate">
                  <Product>{123AB12-123A-1B23-C4D5-00EF678G903A}</Product>
                </include> 
                 -->

							</documentOptions>
						</configuration>
						<strategies hint="list:AddStrategy">
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster"/>
						</strategies>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">

								<!-- Setting #7: Database-->
								<Database>master</Database>

								<!-- Setting #8: Root Path-->
								<Root>/sitecore</Root>


							</crawler>
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>

					</index>
				</indexes>
			</configuration>
		</contentSearch>
	</sitecore>
</configuration>