<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<register
				serviceType="Sc.Edu.Web.Domain.IBasicContentExtractor, Sc.Edu.Web"
				implementationType="Sc.Edu.Web.Domain.BasicContentExtractor, Sc.Edu.Web"
				lifetime="Transient"/>

			<register
				serviceType="Sc.Edu.Web.Controllers.CarouselController, Sc.Edu.Web"
				implementationType="Sc.Edu.Web.Controllers.CarouselController, Sc.Edu.Web"
				lifetime="Transient"/>
		</services>
	</sitecore>
</configuration>
