<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Sc.Edu.Web" description="Serialization description">
					<targetDataStore physicalRootPath="D:\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<!-- The default predicate is set here so that configurations need not specify its class name to use it. -->
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" >
						<!--Templates-->
						<include name="Sc.Edu.Web.Templates.Project.Builderz.BaseTemplates" database="master" path="/sitecore/templates/Project/Builderz/Base Templates" >

						</include>
						<include name="Sc.Edu.Web.Templates.Project.Builderz.DataSourceTemplates" database="master" path="/sitecore/templates/Project/Builderz/Data Source Templates"  >

						</include>
						<include name="Sc.Edu.Web.Templates.Project.Builderz.PageTemplates" database="master" path="/sitecore/templates/Project/Builderz/Page Templates"  >

						</include>

						<!--Media Library-->
						<include name="Sc.Edu.Web.MediaLibrary.Images.Builderz" database="master" path="/sitecore/media library/Images/Builderz" />
					</predicate>

					<dataProviderConfiguration enableTransparentSync="true" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />

				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>